<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<meta charset="UTF-8" />
<title>Regras de Acesso</title>

</head>

<body>
	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col"><a class="dropdown-item-active" href="/users/list">Usuários</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/roles/list">Regras</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/livros/list">Livros</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/autores/list">Autores</a></th>
          <th scope="col"><a class="dropdown-item-active" href="/users/login">Login</a></th>
          <th scope="col"><a class="dropdown-item-active" href="/users/logout">Logout</a></th>	      
	    </tr>
	  </thead>
	</table> 
	<h1>Listagem de Regras</h1>
	

	

			
	<a href="/roles/novo" class="btn btn-outline-success">Cadastrar</a>			
	

	
	<hr>
	<table class="table">
		<thead>
	    <tr>

	      <th scope="col">Regra</th>
	      <th scope="col"></th>
	    </tr>
	  </thead>
	  <tbody>
		<tr th:each="role : ${listaRoles}">
		

			<td><a href="#" th:href="@{'/roles/editar/'+${role.id}}" th:text="${role.name}"> Regra </a></td>
			<td><a href="#" th:href="@{'/users/excluir/'+${role.id}}" class="btn btn-outline-danger"> Excluir </a></td>
			
			
		</tr>
		</tbody>	
	</table>
	
</body>
</html>