<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<meta charset="UTF-8" />
<title>Autores</title>

</head>
<body>

<div class="container">

<div class="rowf justify-content-md-center">
<div class="colf-3">
<div class="cardf">
	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col"><a class="dropdown-item-active" href="/users/list">Usuários</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/roles/list">Regras</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/livros/list">Livros</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/autores/list">Autores</a></th>
	      <th scope="col"><a class="dropdown-item-active" href="/users/login">Login</a></th>
      	  <th scope="col"><a class="dropdown-item-active" href="/users/logout">Logout</a></th>
	    </tr>
	  </thead>
	</table>  
<h1>Cadastro de Autores</h1>	

<form th:action="@{/autores/gravar}" method="post" th:object="${autor}" action="#">

<div class="cardf-body">	

<input type="hidden" th:field="*{id}" />

<div class="formf-group">
<label for="nome">Nome</label>
<input type="text" th:field="*{nome}" id="name" name="nome" placeholder="Regin Cazé" class="form-control">
<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Error</span>
</div>

</div>

<div class="cardf-footer text-center">
<button type="submit" class="btn btn-success">Gravar</button>

<a href="/autores/list" class="btn btn-success">Voltar</a>
</div>

</form>



</div>
</div>
</div>
</div>	
</div>


</body>
</html>